.photo-item img{
    width: 100%;
}

.photo-author {
    text-align: left;
}

.photo-author a{
    font-weight: bold;
}

#home .photo-item h2{
    margin-bottom: 0.2em;
}

#home .photo-item{
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #363636;
}