#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: black;
    border-bottom: 1px solid #363636;
    padding: 0.3em 1em;
}

#search-form {
    position: relative;
    width: 20%;
}

#search-form svg{
    position: absolute;
    top: 10px;
    left: 20px;
}

#search-form input{
    border: none;
    border-radius: 5px;
    padding-left: 2.5em;
    margin: 0;
    width: 100%;
}

#nav input{
    margin-left: 10px;
}

#nav a{
    text-decoration: none;
    color: #FAFAFA;
    font-size: 1.3em
}

#nav-links{
    list-style: none;
    display: flex;
}

#nav-links li{
    margin-left: 10px;
}

span{
    cursor: pointer;
}

